# Logs
logs
*.log
/log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#backend
/venv
message_store.json
message_store_2.json
__pycache__/
*.py[cod]
*$py.class

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/out/
/build/
build/
/full/
/upload/
.vercel
/test/*/out/
/resources/ocr_card/850_615/public_card/news/
/build
/dist
